/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Positioning Styles for the pc_info.html file
   Author: Morgan and Bethany
   Date:   10/9/18
   
   Filename: pc_info.css

*/

div.infobox {
	display: none;
}

/* Main Styles */
main {
	position: relative;
	height: 1400 px;
	width: 100%;
}


/* Infographic Styles */



/* First Infographic */



/* Second Infographic */



/* Third Infographic */



/* Fourth Infographic */



/* Fifth Infographic */



/* Sixth Infographic */



/* Seventh Infographic */



/* Eighth Infographic */



