@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Reset Style Sheet for the Pandaisia Chocolates Website
   Author: Connor Gray, Peter Classen
        Date:   10/8/18
   
   Filename: pc_reset.css

*/

/* Structural Styles */
Article, aside, figcaption, figure, footer, header, main, nav, section {
	display : blocked;
}



/* Typographic Styles */

