/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Connor Gray, Peter Classen
   Date:   10/10/18
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	min-width: 640px;
	width: 95%;
}

/* Image Styles */

img {
	display: block;
	width: 100%;
 }	 

/* Horizontal Navigation Styles */
nav.horizontal li {
	display: block;
	float: left;
	width: 16.66%;
}	
nav.horizontal a {
	display: block;
	text-align: center;
}	
/* Row Styles */
div class
div.newrow: :after {
	width: 100%;
	clear: both;
}
div.newrow: :after {
	clear: both;
	content: "";
	display: table;
}
/* Column Styles */
div[class^="col-"] {
	padding: 2%;
	float: left;
}	
div.col-1-1{width:100%;}
div.col-1-2 {width:50%;}
div.col-1-3{width:33.33%;}
div.col-2-3{width:66.67%;}
div.col-1-4{width:25%;}
div.col-3-4{width:75%;}

/* Specials Styles */
div.specials{
	min-height: 400px;
	outline:1px dashed ;
	color: rgb(71, 52, 29);
}
/* Award Styles */
div#awardList {
	height: 650px;
	overflow: auto;
	width: 30%;	
	
}
div#award1{
width: 30%;	
	margin-top: 50px;
	margin-left: 5%;
}

div#award2{
	width: 30%;	
	margin-top:  50px;
	margin-left: 60%;
}
div#award3{
	width: 30%;	
	margin-top: 50px;
	margin-left: 20%;
}
div#award4{
	width: 30%;	
	margin-top:  50px;
	margin-left: 45%;
}
div#award5{
	width: 30%;	
	margin-top: 50px;
	margin-left: 5%;
}
	


/* Footer Styles */
body > footer {
	float:clear;
}
