/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: E. Ruiz / Josh Bentley
   Date: October 9th 2018
   
   Filename: pc_specials.css

*/

/* Page Body Styles */

body {
	width: 95%;
	max-width: 960px;
	min-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

/* Image Styles */

img {
	display: block;
}

/* Horizontal Navigation Styles */

nav.horizontal li {
	display: block;
	float: left;
	width: 16.66%;
}

li a {
	display: block;
}

/* Row Styles */

div.newRow {
	clear: both;
	width: 100%;
}

div.newRow {
	
}

/* Column Styles */




/* Specials Styles */



/* Award Styles */



/* Footer Styles */

