@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Brett F and Lane D
   Date:   10/9/2018

   Filename:         pcg_paper.css
   Supporting Files: 

*/

/* Main Styles */
html {
    background-color: rgb(186, 186, 186);
}

body {
    background-color: rgb(118, 129, 147);
    min-width: 640px;
    max-width: 960px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

/*Image Styles*/
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
    
article > img {
    display: block;
    float: left;
   margin-right: 20px;
   width: 12%;
}


/*Link Styles */
aside > nav > ul > li > a { 
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    display: table;
    color: white;
}

ul {
    list-style-type:none;
    text-decoration:none;
}

ul#secondLink {
    float: right;
   
} 

ul#firstLink {
    text-align: left;
}
/*Article Styles*/
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: block;
    position: relative;
    font-size: 1.0em;
    text-align: left;
}

div.w3-containerw3-white {
    background-color: white;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
article#second {
    
}

article {
    padding-right: 50px;
    padding-left: 50px;
    clear:both;
}

article::after {
    clear: both;
    content: "";
    display: table;
}

header {
    clear:both;
}

ul#firstLink > li {
    float: left;
    display: block;
    font-size: 1.0em;
    padding-left: 2px;
    padding-right: 2px;
}

ul#secondLink > li {
    float: left;
    display: block;
    font-size: 1.0em;
    padding-left: 2px;
    padding-right: 2px;
}
    
/*Footer Styles*/
footer {
    background-color: rgb(71, 77, 86);
    color: white;
    text-align: center;
}
