 @charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
    Author: Cameron Odom & Zac Fredrick
    Date: October 17, 2018   

   Filename:         pcg_paper.css
   Supporting Files: 

*/
html {
	background-color:grey;
}
header {
	display:block;
}

header img {
	display: inline-block;
	width:100%;
}

body {
	width: 70%;
	margin-left:auto;
	margin-right: auto;
	background-color: rgb(255, 232, 183);
	position: relative;
	min-width: 1180px;
	max-width: 1350px;
}

a {
	color:black;
	text-decoration: none;
}

header > ul > li {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:5px;
	padding-top:5px;
	display: inline-block;
	text-align:center;
}

header > ul {
	background-color: rgb(114, 107, 92);
	text-align: center;
	margin-top:-5px;
}

article img {
	float:left;
}

article {
	padding-left: 30px;
	padding-right: 40px;
	padding-top: 50px;
}