/@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Brett F and Lane D
   Date:   10/9/2018

   Filename:         pcg_paper.css
   Supporting Files: 

*/
/* Main Styles */


/* Link Styles */
